.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрытие избыточного контента */
}

.map-canvas {
    width: 100%;
    height: 100%;
    touch-action: none; /* Запрет на действие по умолчанию для касаний */
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red; /* Цвет маркера */
    border-radius: 50%;
    pointer-events: auto; /* Позволить взаимодействие с маркером */
    display: none; /* Скрыть маркер по умолчанию */
}

.locked-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); /* Полупрозрачный фон */
    color: white;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    pointer-events: none; /* Запретить взаимодействие с фоном */
}

@keyframes rotate {
    0% { transform: rotate(270deg) scale(0.1); } /* Уменьшаем размер до 10% */
    30% { transform: rotate(270deg) scale(0.1); }
    100% { transform: rotate(360deg) scale(0.1); }
}

.rotate-animation {
    animation: rotate 3s infinite; /* Анимация длится 3 секунды и повторяется бесконечно */
    display: flex; /* Изменяем на flex для центрирования изображения внутри */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
}

.rotate-animation img {
    max-width: 100%; /* Ограничиваем ширину изображения */
    max-height: 100%; /* Ограничиваем высоту изображения */
    object-fit: contain; /* Подгоняем изображение по контейнеру */
}








